{% extends 'main.html' %}
{% load static %}
{% block content %}
<h1>About Us</h1>
<hr />
<p>Yi-Cha is a place for all tea lovers ! Yi-Cha means Japanese tea ceremony and it's ART of tea! </p>
<p>Beyond just serving and receiving tea, one of the main purposes of the tea ceremony is for the guests to enjoy the hospitality of the host in an atmosphere distinct from the fast pace of everyday life.</p>

<div class="row">
    <div class="col-lg-10">

        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wPkaD8mheEU" allowfullscreen></iframe>
        </div>
        

    </div>
</div>



    
{% endblock %}