{% extends 'main.html' %}
{% load static %}
{% block content %}
<h1 style="color: rgb(26, 101, 76);">Story</h1>
<hr />
<blockquote class="blockquote">
    <p class="mb-0">Yi-Cha is a place for all tea lovers ! Yi-Cha means Japanese tea ceremony and it's ART of tea!</p>
</blockquote>
<blockquote class="blockquote">
    <p class="mb-0">Beyond just serving and receiving tea, one of the main purposes of the tea ceremony is for the guests 
    </br> to enjoy the hospitality of the host in an atmosphere distinct from the fast pace of everyday life.</p>
</blockquote>

<h3 style="color:red;">Signature Drinks</h3>
<hr />
<blockquote class="blockquote">
    <p class="mb-0">First signature is Matcha Frappucino. Our Matcha is used in the Japanese tea ceremony. The taste  
    </br>of high grade Matcha is smooth and mellow, and not at all bitter. Unique rich foamy texture. High grade 
    </br>Matcha is a bright color of green.
    </p>
</blockquote>
<blockquote class="blockquote">
    <p class="mb-0">Our Second signature is  the Brown Sugar Boba Milk. our boba from handrolled tapioca dough and cook
    </br> them until they’re perfectly soft and chewy. Then we stir-fry brown sugar until it’s toasted and caramelized 
    </br> and giving off that unmistakable aroma.
    </p>
</blockquote>


<div class="row">
    <div class="col-lg-10">

        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wPkaD8mheEU" allowfullscreen></iframe>
        </div>
        

    </div>
</div>



    
{% endblock %}