{% extends 'main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
    {% for product in products %}
    <div class="col-lg-3">
      <br>
      <br>
      <img class="thumbnail" src="{{ product.image.url }}">
      <div class="box-element product">
        <a style="color:maroon"href="{% url 'product_details' product.id %} "h6>{{ product.name }}</h6></a>
        <hr>
        <!-- <a class="btn btn-outline-secondary add-btn" href="#">Add to Cart</a> -->

      <form action="{% url 'cart_add' product.id %}" method="post">
        <div class="s_product_text">
          <div class="card_area"style="margin-top: 8%; ">
            {{ cart_product_form|crispy }}
            {% csrf_token %}
            <button class="btn btn-outline-success btn-sm" style="margin-left: 0px; margin-top: -20px;" input type="submit">Add to Cart</button>
            <p style="display:inline-block;float:right">{{ product.price }}</h4>
          </div>
        </div>
      </form>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
   