{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="box-element">
				<div class="cart-row">
					<div style="flex:1"></div>
					<div style="flex:1"><h5>Item</h5></div>
					<div style="flex:2"><h5>Description</h5></div>
					<div style="flex:1"><h5>Price</h5></div>
				</div>
            <div class="cart-row">
                <div style="flex:1"><img class="row-image" src="{{ product.image.url }}"></div>
                <div style="flex:1"><p>{{product.name}}</p></div>
                <div style="flex:2"><p>{{product.description}}</p></div>
                <div style="flex:1"><p>$ {{product.price}}</p></div>  
            </div>
            <a class="btn btn-outline-success btn-sm" href="{% url 'home' %}">Return</a>
        </div>
    </div>
</div>
{% endblock %}
