{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img class="card-img" src="{{ product.image.url }}">
        </div>
        <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">Name: {{product.name}}</h5>
            <p class="card-text">Description: {{product.description}}</p>
            <p class="card-text">Price: ${{product.price}}</p>
            
        </div>
        </div>
    </div>
</div>

    
{% endblock %}
