body{
	background-color: white
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

p{
	color: grey;
}

.navbar-brand{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: xx-large;
	font-weight: bolder;
}

.container{
	min-height: 100vh;
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: auto;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: white!important;

}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}


.col-lg-3, .col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 50px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

.row1{
	min-height: 100vh;
}

#paypal-button-container{
	margin-top: -700px;
	margin-left: 850px;
}

.login-box{
	width:280px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	color: white;
}

.login-box h1{
	float:top;
	font-size:40px;
	border-bottom: 6px solid green;
	margin-bottom: 50px;
	padding: 20px 100px;
}

.textbox{
	width:100%;
	overflow:hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	margin-left: 50px;
	
}

.signup-box{
	width:280px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	
}

.signup-box h2{
	float:top;
	font-size: 20px;
	border-bottom: 6px solid green;
	margin-bottom: 30px;
	padding: 10px 100px;
}

#home-alert{
	font-size: small;
	margin-right: 800px;
	
}